{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="wrapper">
    <div class="container" style="max-width: 450px; margin-top: 0px;">

        <div class="card" style="margin-bottom: 150px;">
            <div class="card-body" id="card_">

                <h2>INGRESA TU EMAIL</h2>

                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo registrado</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success">Enviar clave temporal</button>
                    <a href="{% url 'login' %}" class="btn btn-secondary">Volver al login</a>
                </form>

            </div>
        </div>

    </div>
</div>

<div id="bg"></div>
{% endblock %}